[submodule "src/third_party/cpptest"]
	path = src/third_party/cpptest
	url = https://github.com/chenxuan520/cpptest
[submodule "src/third_party/matplotlib-cpp"]
	path = src/third_party/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
